# <center> Temporal Data Visualization: Raptor long-term count and monitoring </center> 
## <center> First section: Data exploration and preprocessing </center> <br>

Data exploration and preprocessing are very important steps in every data analysis. Data exploration can give us relevant information to better understand the data structure and ask additional questions for analysis. Moreover these steps can help us to identify problems in data (errors, inconsistencies) that need to be solved before further analyses. Data preprocessing is necessary to transform raw features into a data representantion that is more suitable for specific approaches to data visualization and analysis. 

In order to explore and visualize raptor migration monitoring data, we will use **Pandas** and **Seaborn**, two essential libraries in **Python** to work with tabular data and visualization.

## Data exploration
<hr/>

### Importing the required libraries

In [1]:
# display full output:

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#-----------------------------------------------------------

from pathlib import Path
import glob
import pandas as pd
import numpy as np
import os

import warnings
warnings.filterwarnings('ignore')

### Get a list of file names

In [2]:
# Files names

Sites_HMANA = glob.glob('Data_Sites/*.csv') # Getting a list of filenames

# Generate a list of site names

Site = [s.split('/') for s in Sites_HMANA]
Site = [s[1] for s in Site] # Choose the name
Site = [s.split('.csv') for s in Site] # Create a list of site names
Sites = [s[0] for s in Site]

print('Sites:', '\n')
Sites

Sites:

['Mount_Peter',
 'Detroit_River_Hawk_Watch',
 'Allegheny_Front',
 'Pack_Monadnock_Raptor_Migration_Observatory',
 'Corpus_Christi',
 'Veracruz_River_of_Raptors_Chichicaxtle_MX',
 'Hawk_Cliff_Hawkwatch',
 'Waggoner_Gap',
 'Hawk_Mountain_Sanctuary',
 'Florida_Keys_Hawkwatch',
 'Hitchcock_Nature_Center',
 'Veracruz_River_of_Raptors_Cardel_MX']

###  Read files as pandas dataframes

In [3]:
# Show column names for an original file:

data = pd.read_csv(Sites_HMANA[0]) # read Mount_Peter data set

print('File columns name:', '\n')
data.columns

File columns name:

Index(['Date', 'Start', 'End', 'Duration', 'Observer', 'BV', 'TV', 'OS', 'BE',
       'NH', 'SS', 'CH', 'NG', 'RS', 'BW', 'RT', 'RL', 'GE', 'AK', 'ML', 'PG',
       'UA', 'UB', 'UE', 'UF', 'Temp', 'Wind Spd', 'Wind Dir', 'Visibility',
       'Cloud Cover', 'Humidity', 'BARO', 'Flight DIR', 'Flight HT'],
      dtype='object')

Files include 23 raptor species and climate variables.  

> We want to assess if there are patterns in time series for both species count data and climate variables.

### Select a subset of variables

A subset of HMANA data will be used for this analysis:

**Season**: autumn data

**Climate variables**:  

* Wind Direction  
* Wind Speed  
* Cloud Cover  
    

**Raptor species:** species migrating in flocks (gregarious)


| <img src="images/TV.png" width="300"/> | <img src="images/MK.png"/> | <img src="images/BW.png" width="500"/> | <img src="images/SW.png" width="400"/> |
|     :---:      |     :---:      |     :---:      |     :---:      |
| [TV](https://www.google.com/search?q=cathartes+aura&safe=active&source=lnms&tbm=isch&sa=X&ved=0ahUKEwic6oapj9HhAhXmna0KHSLtC40Q_AUIDigB#imgrc=CPWz7P_zHh5b9M:): *Cathartes aura* | [M](http://www.ecoregistros.org/site/imagen.php?id=244395)[K](https://www.naturalista.mx/taxa/5416-Ictinia-mississippiensis): *Ictinia mississippiensis* | [B](https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi-66ei4tLhAhUFQq0KHSwTBPQQjhx6BAgBEAM&url=http%3A%2F%2Fpicssr.com%2Fsearch%2Fbroad-winged%2Bhawk%2Fpage6&psig=AOvVaw306gtnjmXB7Fi3TxK7Z6D5&ust=1555440644497583)[W](https://www.hbw.com/ibc/photo/broad-winged-hawk-buteo-platypterus/adult-broad-winged-hawk-flying): *Buteo platypterus* | [SW](http://bellasavesdeelsalvador.blogspot.com/2015/08/buteo-swainsoni-azacuan-gavilan.html): *Buteo swainsoni* |

In [4]:
# Subset

Data = []
datatype = []
autumn = []
for site in Sites_HMANA:
    data = pd.read_csv(site) # read all data sets
    
    # Subset with autumn data
    
    data['Month'] = pd.DatetimeIndex(data.Date).month
    data = data[data.Month > 7]
    
    # Subset of species and climate variables
    
    data = data.loc[:, data.columns.isin(['Date', 'Start', 'TV', 'MK', 'BW', 'SW', 
                                          'Wind Spd', 'Wind Dir', 'Cloud Cover'])]
     
    Data.append(data)
    datatype.append(data.dtypes)
    
print('Column names:', '\n')
Data[0].columns

Column names:

Index(['Date', 'Start', 'TV', 'BW', 'Wind Spd', 'Wind Dir', 'Cloud Cover'], dtype='object')

#### - Show data types for each site

In [5]:
datatype = pd.concat(datatype, axis = 1, sort = False) 
datatype.columns = Sites
print('Data type per variable by site:', '\n')
datatype.T

Data type per variable by site:

,Date,Start,TV,BW,Wind Spd,Wind Dir,Cloud Cover,SW,MK
Mount_Peter,object,object,int64,int64,object,object,int64,NaN,NaN
Detroit_River_Hawk_Watch,object,object,int64,int64,object,object,int64,int64,int64
Allegheny_Front,object,object,int64,int64,object,object,int64,int64,int64
Pack_Monadnock_Raptor_Migration_Observatory,object,object,int64,int64,object,object,int64,int64,NaN
Corpus_Christi,object,object,int64,int64,object,float64,int64,int64,int64
Veracruz_River_of_Raptors_Chichicaxtle_MX,object,object,int64,int64,object,object,int64,int64,int64
Hawk_Cliff_Hawkwatch,object,object,int64,int64,object,object,int64,int64,int64
Waggoner_Gap,object,object,int64,int64,object,object,int64,int64,NaN
Hawk_Mountain_Sanctuary,object,object,int64,int64,object,object,int64,int64,int64
Florida_Keys_Hawkwatch,object,object,int64,int64,object,object,int64,int64,int64
Hitchcock_Nature_Center,object,object,int64,int64,object,object,int64,int64,int64
Veracruz_River_of_Raptors_Cardel_MX,object,object,int64,int64,object,object,int64,int64,int64

Let’s evaluate data type for some variables:

* **Date column:**

The data is still not read as a Time Series, the variable *'Date'* is **object** and we want to transform it into a **pandas datetime**. In order to read the dataframe as a time series is necessary to include specific arguments to the read_csv pandas function. 

<br>

* **Species:** 

There are no abundance data (counts) for species *Ictinia mississippiensis* (MK) and *Buteo swainsoni* (SW) in some sites.

<br>

* **Climate variables:**

The data type for *'Wind Spd'* is object. We need this data to be read as integers representing categories.

The data type for *'Wind Direction'* is object, we will transform it into angles (float type).

> **Note**: the data type for 'Wind Direction' is float only in Corpus Christi.


#### - Show unique values for variables

In order to detect unusual values we will determine the unique values from variables.

* Concatenate data from all sites

In [6]:
All_Data = pd.concat(Data, keys = Sites, names = ['Site', 'rowID'], sort = False)
All_Data.head(3)
All_Data.tail(3)

                         Date  Start  TV  BW                Wind Spd  \
Site        rowID
Mount_Peter 0      1-Sep-2008  08:00   0   0  2: 6-11 km/h (4-7 mph)
            1      1-Sep-2008  09:00   0   1  2: 6-11 km/h (4-7 mph)
            2      1-Sep-2008  10:00   0   0  2: 6-11 km/h (4-7 mph)

                   Wind Dir  Cloud Cover  SW  MK
Site        rowID
Mount_Peter 0             N            0 NaN NaN
            1            NW            0 NaN NaN
            2      Variable            0 NaN NaN

                                                  Date  Start   TV  BW  \
Site                                rowID
Veracruz_River_of_Raptors_Cardel_MX 8996   20-Nov-2017  14:00    0   0
                                    8997   21-Nov-2017  15:00    8   0
                                    8998   21-Nov-2017  16:00  346   0

                                                            Wind Spd Wind Dir  \
Site                                rowID
Veracruz_River_of_Raptors_Cardel_MX 8996   4: 20-28 km/h (13-18 mph)        N
                                    8997   5: 29-38 km/h (19-24 mph)        N
                                    8998    3: 12-19 km/h (8-12 mph)        N

                                           Cloud Cover   SW   MK
Site                                rowID
Veracruz_River_of_Raptors_Cardel_MX 8996             1  0.0  0.0
                                    8997             1  0.0  0.0
                                    8998             1  1.0  0.0

* Unique values for climate variables:

In [7]:
print('Unique Values for Wind Speed:', '\n', All_Data['Wind Spd'].unique(), '\n')
print('Unique Values for Wind Direction:', '\n', All_Data['Wind Dir'].unique(), '\n')
print('Unique Values for Cloud Cover:', '\n', All_Data['Cloud Cover'].unique(), '\n')

Unique Values for Wind Speed:
 ['2: 6-11 km/h (4-7 mph)' '1: 1-5 km/h (1-3 mph)'
 '3: 12-19 km/h (8-12 mph)' '0: less than 1km/h (Calm)'
 '5: 29-38 km/h (19-24 mph)' '4: 20-28 km/h (13-18 mph)' 'U: Unknown' nan
 '6: 39-49 km/h (25-31 mph)' '7: 50-61 km/h (32-38 mph)'
 '8: 62-74 km/h (39-48 mph)' '9: Greater than 75 km/h (greater' '-' '>'
 'I' 'V' 'A' 's']

Unique Values for Wind Direction:
 ['N' 'NW' 'Variable' 'WSW' 'W' 'SW' 'SE' 'WNW' 'S' 'NNW' '---' 'E' 'NE'
 'SSE' nan 'ENE' 'SSW' 'NNE' 'ESE' 'Unknown' 195.0 190.0 180.0 170.0 140.0
 150.0 95.0 160.0 185.0 210.0 0.0 70.0 60.0 200.0 230.0 120.0 100.0 130.0
 90.0 40.0 205.0 50.0 110.0 165.0 85.0 220.0 340.0 270.0 310.0 295.0 290.0
 280.0 320.0 80.0 75.0 20.0 300.0 360.0 330.0 275.0 350.0 10.0 25.0 45.0
 15.0 240.0 260.0 250.0 5.0 30.0 345.0 215.0 175.0 355.0 162.0 312.0 '5'
 '28' '-' '0' '6' '1' '7' '2' '9' 'ni,' 'st,' 'cu,' 'A' 'I' 'D' 'NO' 'no'
 'SO' 'O' '/' 'Syntax error: , lookahead: , current char: 0' 'na' 'saw'
 '_' 'VAR' ' NW' 'NNN' 'N W' ' S' 'WWN' 'SWS' ' W' ' N' 'Var' 'o' 'EE'
 'sde' '6.5' '3' '14']

Unique Values for Cloud Cover:
 [  0   1  10   5  90  80  60  50  40  25 100  30  35  20  70  75  95   2
  15  98  85  19  65  55  45  99   3  96   7   9   8 109  73  97  58  61
  53  54  51  52  46   6  14  86   4  17  92  13  18  24  28  27  12  69
  42  82  57  78  64  93  37 127  84  39  59  72  83  11  77  36  26  16
  56  34  67  29  76  22  33  71  38  94  88  74  41  87  23  81  79  66
  32  31]

From unique values we can see that there are invalid values for Wind Speed and Wind Direction as well as an inaccurate format for Wind Speed. The possible solutions are the following:

1. Wind Speed:

    - Keep only the first integer value.  
    - Replace erroneous characters by NaN values <br/>
        
2. Wind Direction:

    - Transform string values to angles.  
    - Replace erroneous characters by NaN values.  
    - **Note**: The numeric values observed in 'unique values' for this variables corresponds to the site Corpus_Christi.

#### - Show count data description per species

Although all four species are monitored in most sites, the individuals passing through one site do not necessarily correspond to the same individuals on other sites. Moreover, individuals from different sites may represent different subspecies. We will evaluate the counts per species for each site separately. 

Let’s evaluate data description for species counts:

In [8]:
print('Species abundance description:', '\n')

print('Cathartes aura (TV):', '\n')
All_Data.groupby(['Site']).TV.describe()

print(' Ictinia mississippiensis (MK):', '\n')
All_Data.groupby(['Site']).MK.describe()

print('Buteo platypterus (BW):', '\n')
All_Data.groupby(['Site']).BW.describe()

print('Buteo swainsoni (SW):', '\n')
All_Data.groupby(['Site']).SW.describe()

Species abundance description:

Cathartes aura (TV):

,count,mean,std,min,25%,50%,75%,max
Site,,,,,,,,
Mount_Peter,4700.0,0.528085,2.895619,0.0,0.0,0.0,0.0,81.0
Detroit_River_Hawk_Watch,6177.0,99.324915,383.878759,0.0,0.0,0.0,30.0,14442.0
Allegheny_Front,8174.0,0.512479,3.671182,0.0,0.0,0.0,0.0,177.0
Pack_Monadnock_Raptor_Migration_Observatory,5501.0,0.288493,1.595514,0.0,0.0,0.0,0.0,41.0
Corpus_Christi,6280.0,184.317516,1523.626074,0.0,0.0,0.0,24.0,41132.0
Veracruz_River_of_Raptors_Chichicaxtle_MX,9091.0,784.640854,3508.030272,0.0,0.0,0.0,100.0,96085.0
Hawk_Cliff_Hawkwatch,5257.0,49.493437,211.328050,0.0,0.0,0.0,8.0,6100.0
Waggoner_Gap,11691.0,1.392268,7.121607,0.0,0.0,0.0,0.0,188.0
Hawk_Mountain_Sanctuary,12371.0,0.470051,3.420888,0.0,0.0,0.0,0.0,160.0
Florida_Keys_Hawkwatch,3135.0,7.464115,77.237518,0.0,0.0,0.0,0.0,2208.0
Hitchcock_Nature_Center,8405.0,3.922784,11.252843,0.0,0.0,0.0,3.0,208.0
Veracruz_River_of_Raptors_Cardel_MX,8999.0,999.321814,5138.591306,0.0,0.0,0.0,95.0,217076.0

 Ictinia mississippiensis (MK):

,count,mean,std,min,25%,50%,75%,max
Site,,,,,,,,
Mount_Peter,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Detroit_River_Hawk_Watch,6177.0,0.000162,0.012724,0.0,0.0,0.0,0.0,1.0
Allegheny_Front,8174.0,0.000122,0.011061,0.0,0.0,0.0,0.0,1.0
Pack_Monadnock_Raptor_Migration_Observatory,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Corpus_Christi,6280.0,45.732484,257.751852,0.0,0.0,0.0,3.0,6290.0
Veracruz_River_of_Raptors_Chichicaxtle_MX,9091.0,205.243428,1116.437100,0.0,0.0,0.0,8.0,25269.0
Hawk_Cliff_Hawkwatch,5257.0,0.000190,0.013792,0.0,0.0,0.0,0.0,1.0
Waggoner_Gap,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hawk_Mountain_Sanctuary,12371.0,0.000162,0.012714,0.0,0.0,0.0,0.0,1.0
Florida_Keys_Hawkwatch,3135.0,0.186922,0.824494,0.0,0.0,0.0,0.0,15.0
Hitchcock_Nature_Center,8405.0,0.006068,0.094274,0.0,0.0,0.0,0.0,3.0
Veracruz_River_of_Raptors_Cardel_MX,8999.0,114.809423,962.379159,0.0,0.0,0.0,2.0,56113.0

Buteo platypterus (BW):

,count,mean,std,min,25%,50%,75%,max
Site,,,,,,,,
Mount_Peter,4700.0,15.828511,85.820293,0.0,0.0,0.0,1.0,2074.0
Detroit_River_Hawk_Watch,6177.0,114.530678,1857.080489,0.0,0.0,0.0,0.0,109036.0
Allegheny_Front,8174.0,4.818816,33.466812,0.0,0.0,0.0,0.0,1357.0
Pack_Monadnock_Raptor_Migration_Observatory,5501.0,17.191965,109.140986,0.0,0.0,0.0,0.0,3153.0
Corpus_Christi,6280.0,1042.950955,4796.121939,0.0,0.0,0.0,28.0,87797.0
Veracruz_River_of_Raptors_Chichicaxtle_MX,9091.0,825.068639,5153.888831,0.0,0.0,0.0,10.0,174076.0
Hawk_Cliff_Hawkwatch,5257.0,92.458056,948.422389,0.0,0.0,0.0,0.0,25780.0
Waggoner_Gap,11691.0,6.911470,43.768916,0.0,0.0,0.0,0.0,1434.0
Hawk_Mountain_Sanctuary,12371.0,6.279606,47.902781,0.0,0.0,0.0,0.0,2908.0
Florida_Keys_Hawkwatch,3135.0,11.517065,39.767933,0.0,0.0,0.0,5.0,759.0
Hitchcock_Nature_Center,8405.0,0.999167,9.806560,0.0,0.0,0.0,0.0,461.0
Veracruz_River_of_Raptors_Cardel_MX,8999.0,948.264696,5881.773189,0.0,0.0,0.0,3.0,226820.0

Buteo swainsoni (SW):

,count,mean,std,min,25%,50%,75%,max
Site,,,,,,,,
Mount_Peter,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Detroit_River_Hawk_Watch,6177.0,0.004857,0.074038,0.0,0.0,0.0,0.0,2.0
Allegheny_Front,8174.0,0.000122,0.011061,0.0,0.0,0.0,0.0,1.0
Pack_Monadnock_Raptor_Migration_Observatory,5501.0,0.000364,0.019066,0.0,0.0,0.0,0.0,1.0
Corpus_Christi,6280.0,20.778185,259.921183,0.0,0.0,0.0,1.0,7935.0
Veracruz_River_of_Raptors_Chichicaxtle_MX,9091.0,419.431856,3760.777963,0.0,0.0,0.0,1.0,178550.0
Hawk_Cliff_Hawkwatch,5257.0,0.001332,0.036470,0.0,0.0,0.0,0.0,1.0
Waggoner_Gap,11691.0,0.000086,0.009249,0.0,0.0,0.0,0.0,1.0
Hawk_Mountain_Sanctuary,12371.0,0.000323,0.017979,0.0,0.0,0.0,0.0,1.0
Florida_Keys_Hawkwatch,3135.0,0.179585,1.455563,0.0,0.0,0.0,0.0,36.0
Hitchcock_Nature_Center,8405.0,0.751695,17.851971,0.0,0.0,0.0,0.0,913.0
Veracruz_River_of_Raptors_Cardel_MX,8999.0,277.247694,2612.662636,0.0,0.0,0.0,0.0,108967.0

## Preprocessing
<hr/>

### Read files as Time Series and correct errors in variables.

* Read all files as time series.
* Create subsets with variables of interest.
* Create a dataframe with all sites.
* Modify the climate variables.

In [9]:
# Wind Direction:

# Create a dictionary to relate string values with angles and errors with NaN values.

card2degrees = {'NW': 315.0, 'S': 180.0, 'SW': 225.0, 'WSW': 247.5, 'W': 270.0, 'E': 90.0, 
                'SE': 135.0, 'NNW': 337.5, 'ESE': 112.5, 'NE': 45.0, 'N': 0.0, 'SSE': 157.5, 
                'WNW': 292.5, 'NNE': 22.5, 'ENE': 67.5, 'SSW': 202.5, ' NW':315.0, 'N W': 315.0,
                ' S': 180.0, 'WWN': 292.5, 'SWS': 202.5, '---' : np.nan, 'NNN': np.nan, 
                'Variable': np.nan, '-': np.nan, ' W': 270.0, 'W-N': 315.0, 'W-S': 225.0, 'N-N': 0.0, 
                'S-S': 0.0, ' N': 0, '5': 0.0, 'o': 270.0, 'A': np.nan, 'EE': 90.0, 'sde': 135.0, 
                '0': 0.0, '6.5': 0.0, '7': 0.0, '3': 0.0, '2': 0.0, '6': 0.0, '9': 0.0, 
                '14': 22.5, '/': 0.0, 'Unknown': np.nan, 'Var': np.nan, 'VAR': np.nan, '28': 22.5, '1': 0, 
                'ni,': np.nan, 'st,': np.nan, 'cu,': np.nan, 'I': np.nan, 'D': np.nan, 
                'NO': 315.0, 'no': 315.0, 'SO': 225.0, 'O': 270.0, 
                'Syntax error: , lookahead: , current char: 0': np.nan, 
                'na': np.nan, 'saw': np.nan, '_': np.nan, 'MW': 270.0, 'NWN': 337.5}

In [10]:
Data = []
datatype = []

for site in Sites_HMANA: 
    
    # Parameters 'parse_dates' and 'date_parser' on the read_csv function 
    # are used in order to read the data as a time series
    
    data = pd.read_csv(site, parse_dates = ['Date'], 
                     date_parser = pd.to_datetime, index_col = 'Date')
    
    # Subset with autumn data

    data = data[data.index.month > 7]
    
    # Subset with variables of interest
    
    data = data.loc[:, data.columns.isin(['Date', 'TV', 'MK', 'BW', 'SW', 'Wind Spd', 
                                          'Wind Dir', 'Cloud Cover'])]
    
    
   ################# --- Variable Wind Speed --- #################

    # New Wind Speed variable
    
    WSpeed = data['Wind Spd'].astype(str)
    
    windspeed = []   
    for w in WSpeed:
        ws_sep = w.split(':')
        windspd = ws_sep[0] # Select only the first values
        windspeed.append(windspd)
    
    ## Create and add t####he new column for each site dataset
    
    data['WindSpd'] = windspeed
    
    ## Replace incorrect values with nan
        
    data['WindSpd'] = pd.to_numeric(data['WindSpd'], errors='coerce') # Only one site has integer values for Wind Speed
    
    
    ### Note: ###
    # If we want to convert data type to 'int' is necessary to drop nan values but we don't want to drop these records

    
    ################# --- Variable Wind Direction --- #################
    
    # Replace incorrect values using a dictionary 
    # If the variable is data type 'object' then convert to 'float' type.
    
    if data['Wind Dir'].dtypes == object:
        data['Wind Dir'].replace(card2degrees, inplace = True)

    ################# --- Variable Site --- #################
    
    # Add a new column with site name
    
    site = site.split('/')[1]
    site = site.split('.csv')[0]
    data['Site'] = os.path.basename(site)
    
    
    # Data type of site    
    datatype.append(data.dtypes)

    # Add the data of each site to a list
    Data.append(data)

In [11]:
##  Concatenate all data in a single dataframe 

Total_Data = pd.concat(Data, axis = 0, sort = False)

print('Data dimentions:')
Total_Data.shape

datatype = pd.concat(datatype, axis = 1, sort = False) 
datatype.columns = Sites
print('Data type per variable by site:', '\n')
datatype.T

Data dimentions:

(89781, 9)

Data type per variable by site:

,TV,BW,Wind Spd,Wind Dir,Cloud Cover,WindSpd,Site,SW,MK
Mount_Peter,int64,int64,object,float64,int64,float64,object,NaN,NaN
Detroit_River_Hawk_Watch,int64,int64,object,float64,int64,float64,object,int64,int64
Allegheny_Front,int64,int64,object,float64,int64,float64,object,int64,int64
Pack_Monadnock_Raptor_Migration_Observatory,int64,int64,object,float64,int64,float64,object,int64,NaN
Corpus_Christi,int64,int64,object,float64,int64,float64,object,int64,int64
Veracruz_River_of_Raptors_Chichicaxtle_MX,int64,int64,object,float64,int64,float64,object,int64,int64
Hawk_Cliff_Hawkwatch,int64,int64,object,float64,int64,int64,object,int64,int64
Waggoner_Gap,int64,int64,object,float64,int64,float64,object,int64,NaN
Hawk_Mountain_Sanctuary,int64,int64,object,float64,int64,float64,object,int64,int64
Florida_Keys_Hawkwatch,int64,int64,object,float64,int64,float64,object,int64,int64
Hitchcock_Nature_Center,int64,int64,object,float64,int64,float64,object,int64,int64
Veracruz_River_of_Raptors_Cardel_MX,int64,int64,object,float64,int64,float64,object,int64,int64

* Verify index column

In [12]:
Total_Data.index

DatetimeIndex(['2008-09-01', '2008-09-01', '2008-09-01', '2008-09-01',
               '2008-09-01', '2008-09-02', '2008-09-02', '2008-09-02',
               '2008-09-02', '2008-09-02',
               ...
               '2017-11-19', '2017-11-20', '2017-11-20', '2017-11-20',
               '2017-11-20', '2017-11-20', '2017-11-20', '2017-11-20',
               '2017-11-21', '2017-11-21'],
              dtype='datetime64[ns]', name='Date', length=89781, freq=None)

Let's see how common zeros are in the abundance of species by site. For this, we can create a table showing counts data, total zeros and the difference between them.

**Pivot table**:
Summarizing data is easy using **pivot_table** from pandas. The arguments we will use are:
* **index:** variables used to separate data.
* **values:** correspond to rows in the new dataframe.
* **aggfunc:** functions to be applied on values

In [14]:
pt = pd.pivot_table(Total_Data, index = ['Site'], values = ['TV', 'MK', 'BW', 'SW'], 
              aggfunc = ['count', lambda  x: x.eq(0).sum()]) # lambda counts zeros from count data


spp = ['TV', 'SW', 'MK', 'BW']

n = len(pt.columns)
for sp in spp:
    diff = pt['count'][sp] - pt['<lambda>'][sp]
    pt.insert(loc = n, column = 'diff_' + sp, value = diff)
      
pt

                                             count                       \
                                                BW     MK     SW     TV
Site
Allegheny_Front                               8174   8174   8174   8174
Corpus_Christi                                6280   6280   6280   6280
Detroit_River_Hawk_Watch                      6177   6177   6177   6177
Florida_Keys_Hawkwatch                        3135   3135   3135   3135
Hawk_Cliff_Hawkwatch                          5257   5257   5257   5257
Hawk_Mountain_Sanctuary                      12371  12371  12371  12371
Hitchcock_Nature_Center                       8405   8405   8405   8405
Mount_Peter                                   4700      0      0   4700
Pack_Monadnock_Raptor_Migration_Observatory   5501      0   5501   5501
Veracruz_River_of_Raptors_Cardel_MX           8999   8999   8999   8999
Veracruz_River_of_Raptors_Chichicaxtle_MX     9091   9091   9091   9091
Waggoner_Gap                                 11691      0  11691  11691

                                            <lambda>                           \
                                                  BW       MK       SW     TV
Site
Allegheny_Front                                 6405   8173.0   8173.0   7349
Corpus_Christi                                  3163   4103.0   4198.0   3754
Detroit_River_Hawk_Watch                        4988   6176.0   6149.0   3151
Florida_Keys_Hawkwatch                          1650   2848.0   2973.0   2353
Hawk_Cliff_Hawkwatch                            4424   5256.0   5250.0   3542
Hawk_Mountain_Sanctuary                         9926  12369.0  12367.0  11460
Hitchcock_Nature_Center                         7445   8364.0   8014.0   5643
Mount_Peter                                     3474      0.0      0.0   4097
Pack_Monadnock_Raptor_Migration_Observatory     4165      0.0   5499.0   4975
Veracruz_River_of_Raptors_Cardel_MX             6069   6322.0   7053.0   5063
Veracruz_River_of_Raptors_Chichicaxtle_MX       5435   5709.0   6489.0   4779
Waggoner_Gap                                    9157      0.0  11690.0  10068

                                            diff_BW diff_MK diff_SW diff_TV

Site
Allegheny_Front                                1769     1.0     1.0     825
Corpus_Christi                                 3117  2177.0  2082.0    2526
Detroit_River_Hawk_Watch                       1189     1.0    28.0    3026
Florida_Keys_Hawkwatch                         1485   287.0   162.0     782
Hawk_Cliff_Hawkwatch                            833     1.0     7.0    1715
Hawk_Mountain_Sanctuary                        2445     2.0     4.0     911
Hitchcock_Nature_Center                         960    41.0   391.0    2762
Mount_Peter                                    1226     0.0     0.0     603
Pack_Monadnock_Raptor_Migration_Observatory    1336     0.0     2.0     526
Veracruz_River_of_Raptors_Cardel_MX            2930  2677.0  1946.0    3936
Veracruz_River_of_Raptors_Chichicaxtle_MX      3656  3382.0  2602.0    4312
Waggoner_Gap                                   2534     0.0     1.0    1623

> There are many zeros on the count data per species, total data without zeros is greatly reduced.


* Save 'Total Data' as a new file

In [15]:
Total_Data.to_csv('TotalData.csv') # Create a csv file